@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --var-FontStyledMain: "Poppins", sans-serif;

    --var-ColorBackground: #F9F6EF;
    --var-ColorDestaque: #FFC626;
    --var-ColorTextBase: #161616;
    --var-ColorNeutro: #8C8C8C;
}

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------HEADER MAIN---------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.header-page{
    width: 100%;
    background-color: white;
    box-shadow: 20px 0px 10px 2px rgba(0, 0, 0, 0.084);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 15px 0px;
    z-index: 2;
}
.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
}
.container-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-logo img{
    height: 30px;
    width: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
}
.nav-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navigate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
#btnMenu{
    display: none;
    background: none;
    height: 40px;
    width: 40px;
}
#btnMenu img{
    height: 40px;
    width: 40px;
}
.navigate li{
    cursor: pointer;
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
}
.navigate a{
    text-decoration: none;
    color: var(--var-ColorTextBase);
}
.contain-AUTHBUTTONS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contain-AUTHBUTTONS a{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.link-login{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    color: var(--var-ColorTextBase);
    border: 1px solid gray;
}
.link-auth{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    color: var(--var-ColorTextBase);
    background-color: var(--var-ColorDestaque);
    border: 1px solid var(--var-ColorDestaque);
}

@media (max-width: 1191px) {
    .container-header{
        max-width: 90%;
    }
}
@media (max-width: 680px) {
    .container-header{
        max-width: 90%;
    }
    .navbar{
        justify-content: end;
        flex-direction: row-reverse;
        gap: 30px;
    }
    #btnMenu{
        display: flex;
    }
    .inactive-menu{
        display: flex;
    }
    .active-menu{
        display: flex;
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
        height: calc(100dvh - 20px);
        width: calc(100% - 20px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigate{
        flex-direction: column;
    }
    .inactive-link-menu{
        display: none;
    }
    .active-link-menu{
        display: flex;
    }
}
@media (max-width: 410px) {
    .contain-AUTHBUTTONS a{
        padding: 8px 15px;
    }
    .link-login{
        font-size: 10pt;
    }
    .link-auth{
        font-size: 10pt;
    }
}
/*SECTION TOP____________________________________________________________________________________________________________*/
.section-top-main{
    width: 100%;
    height: calc(100dvh - 75px);
    margin-top: 75px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imgBackground{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url("/public/img/pexels-pavel-danilyuk-7518739.jpg");
    object-fit: cover;
    border-bottom-right-radius: 80%;
    opacity: 0.1;
}
.container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    max-width: 1400px;
    position: relative;
}
.leftTop{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 0px;
}
.leftTop h1:nth-child(1){
    font-family: var(--var-FontStyledMain);
    font-size: 30pt;
    color: var(--var-ColorTextBase);
    max-width: 90%;
}
.leftTop h1:nth-child(2){
    font-family: var(--var-FontStyledMain);
    font-size: 40pt;
    color: #FFC626;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
}
.subHeadline{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    max-width: 80%;
}
.containCTA-TOP{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.containCTA-TOP a:nth-child(1){
    text-decoration: none;
    font-family: var(--var-FontStyledMain);
    font-size: 12px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.041);
    font-weight: 500;
    color: white;
    background-color: #64A0FF;
    width: 148px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.containCTA-TOP a:nth-child(2){
    text-decoration: none;
    font-family: var(--var-FontStyledMain);
    font-size: 12px;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
    width: 148px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftTop p:nth-child(5){
    font-family: var(--var-FontStyledMain);
    font-size: 11pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.leftTop p:nth-child(5) img{
    height: 20px;
    width: 20px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.096));
}


.rigthTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 2;
}

#dashboardMobile{
    height: 300px;
    position: absolute;
    left: 80px;
    z-index: 2;
    transform: translateY(-50px);
}
#dashboardDesktop{
    height: 550px;
    position: absolute;
    left: 0px;
}

@media (max-width: 1320px) {
    #dashboardMobile{
        height: 270px;
        position: absolute;
        left: 80px;
        z-index: 2;
        transform: translateY(-20px);
    }
    #dashboardDesktop{
        height: auto;
        width: 100%;
        position: absolute;
        left: 0px;
    }
}
@media (max-width: 1100px) {
    #dashboardMobile{
        height: 180px;
        position: absolute;
        left: 80px;
        z-index: 2;
        transform: translateY(-20px);
    }
}
@media (max-width: 940px) {
    .imgBackground{
        display: none;
    }
    .leftTop{
        width: 100%;
        align-items: center;
    }
    .containCTA-TOP a:nth-child(2){
        border: 1px solid gray;
    }
    #dashboardMobile{
        display: none;
    }
    #dashboardDesktop{
        display: none;
    }
    .leftTop h1:nth-child(1){
        text-align: center;
    }
    .leftTop h1:nth-child(2){
        text-align: center;
    }
    .subHeadline{
        text-align: center;
    }
}
@media (max-width: 645px) {
    .leftTop h1:nth-child(1){
        text-align: center;
        font-size: 25pt;
    }
    .leftTop h1:nth-child(2){
        text-align: center;
        font-size: 20pt;
    }
    .subHeadline{
        text-align: center;
        font-size: 11pt;
    }
    .leftTop p:nth-child(5){
        text-align: center;
        font-size: 10pt;
    }
    .leftTop p:nth-child(5) img{
        display: none;
    }
}

/*=================================SECOND SECTION========================================================================*/
.section-second{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;
}
.container-section-second{
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container-section-second h2{
    font-family: var(--var-FontStyledMain);
    font-size: 20pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    text-align: center;
}
.containerTextSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.containerTextSecond p{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    text-align: center;
}
.CTA-SECOND-SECTION{
    text-align: center;
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    border-bottom: 2px solid var(--var-ColorDestaque);
}

/*=================================TERCEIRA SECTION======================================================================*/
.terceira-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-section-terceira{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 90%;
    max-width: 1400px;
}

.container-section-terceira h2{
    font-family: var(--var-FontStyledMain);
    font-size: 20pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    text-align: center;
}
.containFunctions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.box-function{
    gap: 20px;
} 

.box-function:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(4){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(6){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.box-function:nth-child(7){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contain-text-function{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.contain-text-function h3{
    font-family: var(--var-FontStyledMain);
    font-size: 15pt;
    font-weight: 500;
}
.contain-text-function p{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 400;
    width: 400px;
}

.contain-img-function img{
    height: 300px;
    width: auto;
}

@media (max-width: 860px) {
    .containFunctions{
        gap: 50px;
    }
    .box-function{
        gap: 20px;
    } 
    .box-function:nth-child(1){
        flex-direction: column;
    }
    .box-function:nth-child(2){
        flex-direction: column;
    }
    .box-function:nth-child(3){
        flex-direction: column;
    }
    .box-function:nth-child(4){
        flex-direction: column;
    }
    .box-function:nth-child(5){
        flex-direction: column;
    }
    .box-function:nth-child(6){
        flex-direction: column;
    }
    .box-function:nth-child(7){
        flex-direction: column;
    }
    .contain-text-function{
        align-items: center;
    }
    .contain-text-function h3{
        text-align: center;
    }
    .contain-text-function p{
        text-align: center;
    }
}

@media (max-width: 430px) {
    .container-section-terceira h2{
        font-size: 15pt;
    }
    .contain-text-function h3{
        width: 90%;
    }
    .contain-text-function p{
        width: 90%;
    }
    .contain-img-function img{
        height: 200px;
        width: auto;
    }

}

/*=================================QUARTA SEÇÃO==========================================================================*/
.section-quatro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-section-quatro{
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container-section-quatro h2{
    font-family: var(--var-FontStyledMain);
    font-size: 15pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    text-align: center;
}
.containerTextQuatro p{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    text-align: center;
    max-width: 600px;
}
.CTA-QUATRO-SECTION{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 220px;
    font-size: 12px;
    font-family: var(--var-FontStyledMain);
    font-weight: 500;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.048);
    background-color: #64A0FF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/*QUINTA SEÇÃO*/
.section-cinco{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-section-cinco{
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container-section-cinco h2{
    font-family: var(--var-FontStyledMain);
    font-size: 15pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    text-align: center;
}
.containerTextCinco p{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    text-align: center;
    max-width: 600px;
}


/*=================================Footer================================================================================*/
.footer-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--var-ColorTextBase);
    padding: 50px 300px 20px 300px;
}

.header-footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
}
.header-footer a{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorBackground);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.header-footer img{
    height: 25px;
    width: 25px;
}
.main-footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.box-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}
.box-footer h2{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorBackground);
}
.box-footer a{
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 400;
    color: #AAAAAA;
}
.container-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.container-redes a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--var-ColorDestaque);
    border-radius: 100px;
}
.container-redes a img{
    height: 20px;
    width: auto;
}

.container-direitos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.container-direitos p{
    text-align: start;
    font-family: var(--var-FontStyledMain);
    font-size: 10pt;
    font-weight: 400;
    color: var(--var-ColorBackground);
    width: 100%;
}

@media (max-width: 1400px) {
    .footer-site{
        padding: 50px 100px 20px 100px;
    }
}
@media (max-width: 780px) {
    .footer-site{
        padding: 50px 50px 20px 50px;
    }
}
@media (max-width: 680px) {
    .header-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .main-footer{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 30px;
        margin-top: 60px;
    }
    .box-footer{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .box-footer h2{
        text-align: center;
    }
    .box-footer a{
        font-family: var(--var-FontStyledMain);
        font-size: 12pt;
        font-weight: 400;
        color: #AAAAAA;
    }
    .container-direitos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-direitos p{
        text-align: center;
    }
}