@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --var-FontStyledMain: "Poppins", sans-serif;

    --var-ColorBackground: #F9F6EF;
    --var-ColorDestaque: #FFC626;
    --var-ColorTextBase: #161616;
    --var-ColorNeutro: #8C8C8C;
}

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--var-ColorBackground);
}

/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------HEADER MAIN---------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.section-top-main{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section-top-main header{
    width: 100%;
    height: 80px;
    background-color: var(--var-ColorBackground);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.082) ;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    background-color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-logo a{
    text-decoration: none;
    color: var(--var-ColorTextBase);
    font-family: var(--var-FontStyledMain);
    font-size: 15pt;
    font-weight: bold;
}
.nav-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-family: var(--var-FontStyledMain);
    color: var(--var-ColorTextBase);
    font-size: 12pt;
    font-weight:500;
}
.nav-cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.nav-cta a{
    text-decoration: none;
    font-family: var(--var-FontStyledMain);
    color: var(--var-ColorTextBase);
}
.link-auth{
    background-color: var(--var-ColorDestaque);
    font-weight: 700 !important;
    padding: 10px 20px;
    border-radius: 10px;
}
.link-login{
    background-color: transparent;
    border: 1px solid var(--var-ColorTextBase);
    font-weight: 700 !important;
    padding: 10px 20px;
    border-radius: 10px;
}
#btnMenu{
    display: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/*responsividade*/
@media (max-width: 1680px) {
    .section-top-main header{
        padding-left: 200px;
        padding-right: 200px;
    }
    .nav-links a{
        font-size: 11pt;
    }
}
@media (max-width: 1145px) {
    #btnMenu{
        display: flex;
    }
    .nav-links{
        display: none;
    }
}
@media (max-width: 875px) {
    .section-top-main header{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 630px) {
    .nav-cta{
        gap: 10px;
    }
    .nav-cta a{
        font-size: 10pt;
    }
}
@media (max-width: 500px) {
    .section-top-main header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-logo a{
        font-size: 12pt;
    }
    .link-auth{
        padding: 10px 15px;
    }
    .link-login{
        padding: 10px 15px;
    }
    #btnMenu{
        width: 30px;
        height: 30px;
    }
}
/*--------------------------------------------------------------------------------------*/
/*----------------------PÁGINA DE CADASTRO----------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.container-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 80px);
    width: 100%;
    margin-top: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: var(--var-FontStyledMain);
    color: var(--var-ColorTextBase);
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.inputform{
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--var-ColorNeutro);
    outline-color: var(--var-ColorDestaque);
    font-family: var(--var-FontStyledMain);
    font-size: 10pt;
    color: var(--var-ColorTextBase);
    font-weight: 500;
    width: 500px;
}

.container-checkbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 100%;
    margin-top: 5px;
    padding-left: 20px;
}
.container-checkbox p{
    font-family: var(--var-FontStyledMain);
    font-size: 11pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
}
.container-checkbox p a{
    color: var(--var-ColorTextBase);
}
.label-form{
    font-family: var(--var-FontStyledMain);
    font-size: 10pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.label-showPasswod{
    margin-right: 0px;
}
.label-polytics a{
    color: var(--var-ColorTextBase);
    font-weight: 600;
}

.container-btnForm{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container-btnForm button{
    background-color: var(--var-ColorDestaque);
    padding: 10px 30px;
    font-family: var(--var-FontStyledMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
    cursor: pointer;
}
.container-btnForm p{
    font-family: var(--var-FontStyledMain);
    font-size: 10pt;
    font-weight: 400;
    color: var(--var-ColorTextBase)
}
.container-btnForm p a{
    color: var(--var-ColorTextBase);
    font-weight: 600;
}
/*responsividade*/
@media (max-width: 560px) {
    .form{
        width: 90%;
    }
    .container-input{
        width: 100%;
    }
    .inputform{
        width: 100%;
    }
}
@media (max-width: 450px) {
    .label-form{
        font-size: 8pt;
    }
}
/*página de verificação do email*/
.container-verify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.container-verify span{
    font-family: var(--var-FontStyledMain);
    font-size: 20pt;
    font-weight: 500;
    color: var(--var-ColorTextBase);
}
.container-verify p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-family: var(--var-FontStyledMain);
    font-size: 11pt;
    font-weight: 400;
    color: var(--var-ColorTextBase);
    gap: 15px;
}
.active-resend{
    background-color: var(--var-ColorTextBase);
    color: var(--var-ColorBackground);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.inative-resend{
    background-color: var(--var-ColorTextBase);
    color: var(--var-ColorBackground);
    opacity: 0.3;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:default ;
}